{% extends "base.html" %}
{% block title %}修改密码{% endblock %}

{% block body %}
<fieldset class="layui-elem-field layui-field-title">
  <legend>修改密码</legend>
  <div class="layui-field-box" style="font-size: medium;line-height: 30px;">
      <br />
      <form class="layui-form" method="post">
        {{ form.csrf_token }}
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:150px">{{ form.old_password.label }}：</label>
            <div class="layui-input-block">
                {{ form.old_password(class="layui-input", style="width:40%", placeholder="请输入原密码") }}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:150px">{{ form.password.label }}：</label>
            <div class="layui-input-block">
                {{ form.password(class="layui-input", style="width:40%", placeholder="请输入新密码") }}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:150px">{{ form.password2.label }}：</label>
            <div class="layui-input-block">
                {{ form.password2(class="layui-input", style="width:40%", placeholder="再次输入新密码") }}
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left:180px">
                <div class="layui-input-inline login-btn">
                    {{ form.submit(class="layui-btn") }}
                </div>
            </div>
        </div>
      </form>
  </div>
</fieldset>
{% endblock %}